.message-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 56px;
    height: 56px;
    font-size: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    z-index: 99;
}

.message-button:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .message-button {
        font-size: 8rem;
        left: 90%;
        bottom: 5%;
        transform: translateX(-50%);
    }
}

@media (max-width: 500px) {
    .message-button {
        left: 85%;
    }
}